}
logo{
    align: center;
}
.judul-utama{
    color:green;
    font-family: Helvetica, sans-serif,Arial;
    font-size: 25px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body*/
/*Start Debug*/
.bg-navajowhite{
background-color: navajowhite;
}
.bg-brown{
    background-color: brown;
}   
/*End Debug*/
}
logo{
    align: center;
}
.judul-utama{
    color:green;
    font-family: Helvetica, sans-serif,Arial;
    font-size: 35px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body*/

//*Start Debug*/
.bg-navajowhite{
    background-color: navajowhite;
    }
    .bg-brown{
        background-color: brown;
    }   
    /*End Debug*/
    /*Start Container*/
    .container{
        margin:10 px;
        overflow: auto;
        width: 90%;
    }
    /*End Container*/
    /*Start Logo*/
    .Logo {
        text-align: center;
    }
    /*End Logo*/
    /*Start anchor / Hyperlink */
    a:link,
    a:visited {
        color:#0366d6;
        text-decoration:none;
    }
    /*End anchor / Hyperlink */
    /*Start Menu Primer*/
/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Anchor / Hyperlink */
a:link, a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover, a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Debug */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-pink{
    background-color: palevioletred;
}
/* End Debug */

a:link, a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover, a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Debug */
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-pink{
    background-color: palevioletred;
}
/* End Debug */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

.textmiring{
    color: #DC143C;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

/*Start Menu Primer*/
.menu-primer ul {
    background-color: #54fa07;
    border-radius: 14 px;
    box-shadow:
         0 3px 5px -1px rgba(42, 189, 6, 0.2),
         0 6px 10px 0  rgba(21, 218, 31, 0.14).14).14),
         0 1px 18px 0  rgba(0,0,0,.12);
}
.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: -4px;
}
.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: #f7f7f7;
    color:#000000;
    text-decoration: none;
}
.menu-primer .active {
    background-color: #ffffff;
    color:#333333;
    text-decoration: none;
}
/*End Menu Primer*/
/* Start Heading */
h1,h2,h3,h4{
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size:28px;
}
h2 {
    font-size:24px;
}
h3 {
    font-size:18px;
}
h4 {
    font-size:28px;
}
/* End Heading */
/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font- size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font- size: 20px;
    padding: 0 20px;    
}
/* End Jumbotron */

/* Start Main */
.main-home-one{
    float: left;
    width: 50%;
}
main-home-two{
    float: right;
    width: 50%;
}
/* End Main */
/* Start Box */
.box-heading {
    background-color: orange;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box -isi{
    background-color:#ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */
/* Start Menu Sekunder */
.menu-sekunder {
    background-color:#f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
} 
.menu-sekunder h4{
    font-size: 14px;
    margin: ) auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;
}
/* End Menu Sekunder */ 

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1579 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1579 figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1579 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.snip1579 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1579 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(85%);
}

.center{
    text-align: center;
}